*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-size: 1rem;
}

img {
    display: inline-block;
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: .5rem 1rem;
    background-color: beige;
}